h2{font-family: "Montserrat", sans-serif;}

/* Scroll */

::-webkit-scrollbar {
    width: 0;
  }
  
  ::-webkit-scrollbar:horizontal{
    height: 0;
  }

  hr{
    height: 3px; 
    background-color: black; 
    width: 30%; 
    margin-top: -15px; 
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
    /* Corousel */
#carousel{
  margin-top: 3rem;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.carousel{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel .card{
  min-width: 400px;
  height: 250px;
}

.carousel .card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.btn-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
  }

  .left{
    font-size: 40px;
    background: transparent;
    color: #000;
    padding: 0.5rem;
  }

  .left:hover{
    background: #fff;
    color: #FB6D10;
    border-radius: 5px;
  }

  .right{
    font-size: 40px;
    color: #000;
    padding: 0.5rem;
    background: transparent;
  }

  .right:hover{
    background: #fff;
    color: #FB6D10;
    border-radius: 5px;
  }


.modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  padding-top: 20px; 
  padding-bottom: 20px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
  max-height: 630px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen  and (min-width:768px) and (max-width: 1024px){
  #corousel{
    margin-top: 3rem;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .modal{
    padding-top: 10rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .modal-content {
    max-width: 720px;
    max-height: 720px;
  }
}

@media screen  and (max-width:767px){
  #corousel{
    margin-top: 3rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .corousel .card{
    min-width: 380px;
    height: 250px;
  }

  .modal{
    padding-top: 10rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .modal-content {
    max-width: 350px;
    max-height: 350px;
  }
} 